<div *ngIf="studentsList && studentsList.length > 0" style="height: 100%">
	<div class="present-list-name" style="height: 20%">
		<div>{{currentStudent.names}} {{currentStudent.lastname}}</div>		
		<div>{{getPresent(currentStudent.present)}}</div>		
	</div>
	<div class="present-list-buttons" style="height: 30%">
		<button type="button" class="btn btn-success btn-sm" (click)="(presentClicked(currentStudent.id))">Presente</button>
		<button type="button" class="btn btn-danger btn-sm" (click)="(absentClicked(currentStudent.id))">Ausente</button>
		<button type="button" class="btn btn-info btn-sm" (click)="(lateClicked(currentStudent.id))">Tarde</button>
	</div>
	<div class="col-md-12 space-between" style="height: 50%">
		<button type="button btn btn-sm" (click)="(previousIndex())">Anterior</button>
		<button type="button btn btn-sm" (click)="(nextIndex())">Siguiente</button>
	</div>
</div>
<div *ngIf="!studentsList || studentsList.length == 0">
	<span>No hay alumnos inscriptos</span>
</div>
<loading [loading]="loading" [fullScreen]="false"></loading>