<div class="container col-md-12">
	<h2>Clase {{classDate}}</h2>
	<hr>
  	
  	<div class="form-group form-centered">
		<div class="form-row">
			<div class="col-md-12">
				<button type="button" class="btn btn-primary btn-lg col-lg-6" (click)="(onTakePresentsClick(!isTakePresentsOpened))">Tomar Lista</button>
			</div>
			<div class="teacher-class-present-list" *ngIf="isTakePresentsOpened">
				<teacher-class-present-list 
					[courseCode]="courseCode" 
					[classNumber]="classNumber"
					(showListListener)="onTakePresentsClick($event)"></teacher-class-present-list>
			</div>
		</div>
	  		
		<div class="form-row">
			<div class="col-md-12">
				<button type="button" class="btn btn-primary btn-lg col-lg-6" (click)="(onSeeFilesClick(!isFilesOpened))">Archivos</button>
			</div>
			<div class="col-md-12" *ngIf="isFilesOpened">
				<file-documents [classId]="classId"></file-documents>		
			</div>
		</div>  		
		  <button *ngIf="class && class.classState === 'PENDIENTE'" type="button" class="btn btn-primary btn-lg col-lg-6" (click)="(finishClass())">Cerrar Clase</button>
		  <button *ngIf="class && class.classState === 'FINALIZADA'" type="button" class="btn btn-primary btn-lg col-lg-6" (click)="(reopenClass())">Reabrir Clase</button>
  		
	  </div>
	  <loading [loading]="loading" [fullScreen]="true"></loading>
</div>
