<div class="container col-sm-12 form-centered">
	<h2> Cambio de password </h2>
  	
  	<form [formGroup]="form">
	  	<div class="container form-group col-md-6">
	  		<errors *ngIf="wrongLogin" customError="Login incorrecto."></errors>
	  		<div class="form-row">
		  		<div class="form-group col-md-12">
		  			<label for="oldPassword">Password actual:</label>
					<input type="password" class="form-control" id="oldPassword" formControlName="oldPassword">
					<errors [field]="formOldPassword"></errors>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="newPassword">Nuevo Password:</label>
					<input type="password" class="form-control" id="newPassword" formControlName="newPassword">
					<errors [field]="formNewPassword"></errors>
				</div>
      </div>
      <div class="form-row">
				<div class="form-group col-md-12">
					<label for="confirmNewPassword">Confirmar Nuevo Password:</label>
					<input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword">
					<errors [field]="formConfirmNewPassword"></errors>
				</div>
      </div>
      <div *ngIf="form.errors?.notSamePasswd && (form.touched || form.dirty)" class="cross-validation-error-message alert alert-danger">
        Las contraseñas deben coincidir
      </div>
			<div class="form-row">
		  		<button type="button" class="btn btn-primary btn-block" (click)="confirm()">Confirmar</button>
		  	</div>
	  	</div>
	  	<loading [loading]="loading" [fullScreen]="true"></loading>
  </form>
</div>
