<div id="chart" class="col-md-12">
  <div *ngIf="chartReady" class="col-md-12">
    <p></p>
    <p>{{selectedCourse.name}} - {{coursesService.getShift(selectedCourse.shift)}} - {{selectedCourse.year}}</p>
    <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="chartConfig.barChartOptions"
        [legend]="chartConfig.barChartLegend"
        [chartType]="chartConfig.barChartType">
    </canvas>
  </div>

  <div *ngIf="!chartReady">
    <p>No hay información para el curso solicitado.</p>
  </div>
</div>