<div class="container col-sm-12 form-centered">
	<h2> Recuperar contraseña </h2>
  	
  	<form [formGroup]="form">
	  	<div class="container form-group col-md-6">
	  		<div class="form-row">
		  		<div class="form-group col-md-12">
		  			<label for="username">Nombre de usuario:</label>
					<input type="text" class="form-control" id="username" formControlName="username">
					<errors [field]="formUsername"></errors>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="email">Email registrado:</label>
					<input type="email" class="form-control" id="email" formControlName="email">
					<errors [field]="formEmail"></errors>
				</div>
      </div>
      
      <div class="form-row">
		  		<button type="button" class="btn btn-primary btn-block" (click)="recovery()">Recuperar</button>
		  	</div>
	  	</div>
	  	<loading [loading]="loading" [fullScreen]="true"></loading>
  </form>
</div>
